@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.marquee-content {
  display: inline-block;
  padding-right: 100%;
}
